ul {
  margin: 0;
}

.nav-bg {
  background-color: #1d267d;
}

.logo {
  width: 150px;
}

.site-header .navbar-nav .nav-link,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  padding: 0.5em 1.5em;
  border: 1px solid #dddddd;
  border-radius: 0.75em;
  margin-bottom: 1.5em;
}

a.article-title {
  color: #cbd5db;
  font-weight: 600;
  text-decoration: none;
}

a.article-title:hover {
  color: #ffffff;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 80px;
  width: 80px;
  margin-right: 1em;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a {
  color: #C8FFE0;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.article-date {
  font-size: 0.75em;
}
