<article class="media content-section d-flex">
  <img
    src="{{ post.author.image.url }}"
    alt=""
    class="rounded-circle article-img align-self-center"
  />
  <div class="media-body">
    <div class="article-metadata d-flex align-items-center gap-2">
      <a
        class="mr-2 article-author"
        href="{% url 'user_profile' post.author.username %}"
        >{{ post.author }}</a
      >
      <small class="text-muted fw-light article-date"
        >{{ post.last_update|date:'d F Y' }}</small
      >
    </div>
    {% if render_buttons and post.author == user %}
    <div class="my-1">
      <a
        class="btn btn-secondary btn-sm"
        href="{% url 'post_update' pk=post.id %}"
        role="button"
        >Update</a
      >
      <a
        class="btn btn-danger btn-sm"
        href="{% url 'post_delete' pk=post.id %}"
        role="button"
        >Delete</a
      >
    </div>
    {% endif %}

    <h2>
      <a class="article-title" href="{% url 'post_detail' pk=post.id %}"
        >{{ post.title }}</a
      >
    </h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
